### Carregamento das libs

In [1]:
from src.libs.lib import *
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
dfs = load_data_db()
#5.5s

Conexão estabelecida com sucesso!

In [3]:
df_orginal = dfs["drivers_states"]
display(df_orginal.head())

   driver_id            name
0      17572  Santa Catarina
1      53733           Bahia
2      41648      Pernambuco
3      13509  Santa Catarina
4      12663          Paraná

In [4]:
df = df_orginal.copy()
df = df.groupby("name").count().reset_index()
df.columns = ['Estado', 'Quantidade de Motoristas']
display(df.head(27))
#2.4s

                 Estado  Quantidade de Motoristas
0                  Acre                         8
1               Alagoas                       273
2                 Amapá                         8
3              Amazonas                        63
4                 Bahia                      1731
5                 Ceará                       353
6      Distrito Federal                       184
7        Espírito Santo                       288
8                 Goiás                       866
9              Maranhão                       375
10          Mato Grosso                       504
11   Mato Grosso do Sul                       287
12         Minas Gerais                      2113
13               Paraná                      3407
14              Paraíba                       248
15                 Pará                       138
16           Pernambuco                       567
17                Piauí                       152
18  Rio Grande do Norte                       115
19    Rio Grande do Sul                      1079
20       Rio de Janeiro                      1113
21             Rondônia                        66
22              Roraima                         1
23       Santa Catarina                      1630
24              Sergipe                       138
25            São Paulo                     10195
26            Tocantins                        28

In [5]:
df.to_csv("src/data/quantidade_de_motoristas_por_estado.csv")